SECRET_KEY=your-super-secret-key
DATABASE_URL=sqlite:////app/data/hotel.db
TELEGRAM_TOKEN=your-telegram-bot-token

# Если требуется указать Frontend URL, можно расскоментировать
# FRONTEND_URL=http://193.169.11.185
